<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head'); %> 
<body>
    <%- include('../partials/headerUsers'); %> 
    <main class="main-container">
        <h1>Estoy en FLEX PRACTICA</h1>
        <h2>USERS</h2>
        <h3>Listado de Usuarios</h3>
        <% usersN.forEach(usuario => {  %>
            <%= usuario.id %> 
            <%= usuario.name %>
            <%= usuario.age%>
            <%= usuario.born %>
            <%= usuario.study %> 
       <% }) %> 
    </main>
    <%- include('../partials/footer'); %> 
</body>
</html>